html {
    color:rgb(0, 0, 0); 
    background: url(../Operciones/ImageOperaciones.jpg);
    background-size: cover;
    background-position: center;
    font-family: 'Century', monospace;
    }
